<h3>All Jobs for <strong><%= @company.name %></strong></h3>

<%= link_to "Add a New Job", new_company_job_path(@company) %>

<h4>Jobs</h4>
<% @jobs.each do |job| %>
  <ul>
    <%= link_to job.title, job_path(job) %> at <%= job.company.name %><br />
    <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
  </ul>
<% end %>

<h4>Contacts: </h4>
  <% @company.contacts.each do |contact| %>
    <div class="contact_info">
      <h5 class="contact_list"><%= contact.full_name %></h5>
      <ul class="contact_list">
        <li><%= contact.position %></li>
        <li><%= contact.email %></li>
      </ul>
    </div>
  <% end %>
  <br />

  <%= link_to "Add a Contact", new_company_contact_path(@company) %>
