Title: <%= @job.title %>
<br />

Description: <%= @job.description %>
<br />

Level of Interest: <%= @job.level_of_interest %>
<br/ >

City: <%= @job.city %>
<br />

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br />

Category: <%= @job.category.title %>
<br />

<h3>Comments:</h3>
<ul>
  <% @job.comments.order(created_at: :desc).each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<h3>Add a Comment</h3>
<%= form_for [@job, @comment] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit "Add a Comment" %>
<% end %>
<br />

<p><%= link_to "Update", edit_company_job_path(@job.company, @job) %></p>
