<h3>All Companies</h3>

<p><%= link_to "Add a New Company", new_company_path %><br/>

<% @companies.each do |company| %>
  <div class=company_<%= company.id %>>
    <%= link_to company.name, company_path(company) %><br>
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %>
  </div>
<% end %>
