<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<h1>Job Tracker!</h1>
<nav>
  <ul>
    <li><%= link_to "Companies", companies_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
  <ul>
</nav>

<%= yield %>

</body>
</html>
